

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div>
<nav class="navbar navbar-expand-lg nav_bg_color">
      <div class="container-fluid">
      <a href="#" class="navbar-brand"> <h3>ATF LABS </h3> </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto ">
      <li class="nav-item mx-2 text-center">
      <h6> <a routerLink="/userragister" class="nav-item nav-link text-bg-dark mx-2 my-2 border border-white">ADD EMPLOYEE</a></h6>
      </li>
      <li  class="nav-item mx-2 text-center">
      <h6><a class="nav-item nav-link text-bg-dark mx-2 my-2 border border-white" (click)="adminLogout()">LOGOUT</a></h6>
      </li>
      </div>
      </div>
      </div>
</nav>
</div>

 <div class="container-fluid">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Designation</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empdata.data">
        <td>{{emp.EMP_ID}}</td>
        <td>{{emp.firstname}}</td>
        <td>{{emp.lastname}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.designation}}</td>
        <td>{{emp.phone}}</td>

         <td>
           <button type="button"  (click)="deleteEmp(emp._id)"><i class="fa fa-trash"></i></button>
           <button type="button" class="mx-md-2"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateEmploye(emp)"> <i class="fa fa-pencil-square-o"></i> </button>
         </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- <!Button trigger modal -->


<!-- Modal -->
<div
class="modal fade"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true">

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header nav_bg_color">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body nav_bg_color">
      <div class="card_modal px-5 py-5">
      <h3 class="mb-3 text-center">Edit Your Profile</h3>
      <form  #updateEploye="ngForm" (ngSubmit)="updateEmp()">
        <div class="form-input">
          <i class="fa fa-user"></i>
          <input
            type="text"
            [(ngModel)]="employeUpate.firstname"
            #firstname
            class="form-control form-control-lg text-white text-white"
            placeholder="First Name"
            name="firstname"
            value=""
          />
        </div>

        <div class="form-input">
          <i class="fa fa-user"></i>
          <input
            type="text"
            [(ngModel)]="employeUpate.lastname"
            #lastname
            class="form-control form-control-lg text-white"
            placeholder="Last Name"
            name="lastname"
            value=""
          />
        </div>

        <div class="form-input">
          <i class="fa fa-envelope"></i>
          <input
            type="text"
            [(ngModel)]="employeUpate.email"
            #email
            class="form-control form-control-lg text-white"
            placeholder="Email"
            name="email"
            value=""
          />
        </div>

        <div class="form-input">
          <i class="fa fa-phone"></i>
          <input
            type="text"
            [(ngModel)]="employeUpate.designation"
            #designation
            class="form-control form-control-lg text-white"
            placeholder="Designation"
            name="designation"
            value=""
          />
        </div>

        <div class="form-input">
          <i class="fa fa-lock"></i>
          <input
          type="text"
          [(ngModel)]="employeUpate.password"
          #password
          class="form-control form-control-lg text-white"
          placeholder="Password"
          name="password"
          value=""
        />
        </div>

        <button class="btn mt-4 signup"  type="submit">Update</button>
  </form>

      </div>
    </div>
  </div>

</div>
</div>
</div>






<!-- <div class="containar-fluid">
  <div class="row bg-info p-2 text-center">
    <div class="col-1 py-3 border">Employee Id</div>
    <div class="col-2 py-3 border">First Name</div>
    <div class="col-2 py-3 border">Last Name</div>
    <div class="col-3 py-3 border">Email</div>
    <div class="col-2 py-3 border">Designation</div>
    <div class="col-2 py-3 border">Phone</div>
  </div>
  <div class="row bg-success p-2 text-center" *ngFor="let emp of empdata.data">
    <div class="col-1 py-3 border">{{emp.EMP_ID}}</div>
    <div class="col-2 py-3 border">{{emp.firstname}}</div>
    <div class="col-2 py-3 border">{{emp.lastname}}</div>
    <div class="col-3 py-3 border">{{emp.email}}</div>
    <div class="col-2 py-3 border">{{emp.designation}}</div>
    <div class="col-2 py-3 border">{{emp.phone}}</div>
  </div>
</div> -->
